@using Datalayer.ViewModels
@model vmMain
@{
    ViewBag.Title = "detailes";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">اطلاعات محصول</h3>
    </div>
    <div role="form">
        <div class="box-body">
            <div class="form-group">
                <img style="height:100px;width:150px;" src="http://ironcenter.ir/Content/img/icones/@Model.getproductEdit.Imageurl" alt="Alternate Text" />
            </div>
            <div class="form-group">
                منظقه جغرافیایی:@Model.getproductEdit.State
            </div>
            <div class="form-group">
                عنوان:@Model.getproductEdit.title
            </div>
            <div class="form-group">
                کارخانه:@Model.getproductEdit.FactoryTitle
            </div>
            <div class="form-group">
                کارخانه:@Model.getproductEdit.Price
            </div>

            <br />
            @using (Html.BeginForm("DeleteProduct","Home",FormMethod.Post))
            {
            <input type="hidden" name="Pid" value="@Model.getproductEdit.ProductId" />
                <input type="submit" name="name" value="حذف محصول" class="btn btn-danger" />
                <br />
                @ViewBag.err
            }
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">ویرایش محصول</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    @using (Html.BeginForm("EditProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div role="form">
                <div class="box-body">
                    <div class="form-group">
                        <input type="hidden"     name="pid" value="@Model.getproductEdit.ProductId" />
                        <div class="form-group">
                            <label>استان</label>
                            <select id="ostan" name="ostanID" class="form-control select2" style="width: 100%;">
                                @foreach (var item in Model.allcity)
                                {
                                    <option selected="selected" value="@item.CountryID">@item.CountryTitle</option>

                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label>شهرستان</label>
                            <select id="sh" name="shid" class="form-control select2" style="width: 100%;">
                                <option id="h"  value="0" selected="selected">انتخاب نشده</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>دسته بندی</label>
                            <select id="ct" name="cateMainId" class="form-control select2" style="width: 100%;">
                                @foreach (var item in Model.getCate)
                                {
                                    <option value="@item.Id" id="cat" selected="selected">@item.CateTitle</option>

                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label>نوع محصول</label>
                            <select id="mysub" name="SubCode" class="form-control select2" style="width: 100%;">
                                <option id="tp"  value="0" selected="selected">تهران</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>کارخانه</label>
                            <select id="fk" name="fid" class="form-control select2" style="width: 100%;">
                                <option  value="0" selected="selected">تهران</option>

                            </select>
                        </div>

                        @foreach (var item in Model.getneddpropedit)
                        {
                            <div class="form-group">
                                <label> @item.Proptitle </label>
                                <input type="hidden" name="proptitle" value="@item.Proptitle" />
                                <input type="text" value="@item.Val" required class="form-control" name="propval" />
                            </div>
                        }


                        <div class="form-group">
                            <label> قیمت  محصول به تومان</label>
                            <input type="text" required class="form-control" value="@Model.getproductEdit.Price" name="price" />
                        </div>
                        <div class="form-group">
                            <label>عنوان محصول</label>
                            <input type="text" value="@Model.getproductEdit.title" required class="form-control" name="productTitle" />
                        </div>

                        <div class="form-group">
                            <label>توضیحات محصول</label>


                            <!-- tools box -->
                            <!-- /. tools -->
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <div>
                                    <textarea required name="Caption" id="mytextarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"> @Model.getproductEdit.Caption</textarea>
                                </div>
                            </div>
                        </div>


                    </div>

                    @*<div class="form-group">
                        <label for="exampleInputFile">ارسال عکس</label>

                        <input name="image4" type="file" id="exampleInputFile">
                    </div>*@

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" id="btn_submit" class="btn btn-primary">ارسال</button>
                </div>
            </div>
    }
    @*<img src="D://myimage/photo_2019-01-21_06-07-40.jpg_Product_1007.jpg" alt="Alternate Text" />*@
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#ostan').change(function () {
            var sid = document.getElementById("ostan").value;

            $.post("/Home/GetShahrestan", { sid: sid }, function (data, status) {
                $('#sh').html('');
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    $('#sh').append("<option id='h' value=" + obj.ID + " selected='selected'> " + obj.ShahrestanTitle + "</option > ");

                }
            });
        });

    });


    $(document).ready(function () {
        $('#ct').change(function () {
            var subid = document.getElementById("ct").value;

            $.post("/Home/getsub", { subid: subid }, function (data, status) {
                $('#mysub').html('');
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    $('#mysub').append("<option id='cat' value=" + obj.Id + " selected='selected'> " + obj.subTitle + "</option > ");

                }
            });
        });

    });



    $(document).ready(function () {
        $('#sh').change(function () {
            var fid = document.getElementById("sh").value;

            $.post("/Home/getfactory", { fid: fid }, function (data, status) {
                $('#fk').html('');
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    $('#fk').append("<option id='h' value=" + obj.Id + " selected='selected'> " + obj.FTitle + "</option > ");

                }
            });
        });

    });
    $(document).ready(function () {
    $('#btn_submit').on("click", function () {
        var term1 = $('#sh').val();
        if (term1 == "undefined" || term1 == null || term1 == "0") {
            $("#sh").css('border-color', 'red');
            return false;
        } else {
            $('#sh').css('border-color', '#dfe0e6');
        }

        var term2 = $('#mysub').val();
        if (term2 == "undefined" || term2 == null || term2 == "0") {
            $("#mysub").css('border-color', 'red');
            return false;

        } else {
            $('#mysub').css('border-color', '#dfe0e6');
        }

        var term3 = $('#fk').val();
        if (term3 == "undefined" || term3 == null || term3 == "0") {
            $("#fk").css('border-color', 'red');
            return false;

        } else {
            $('#fk').css('border-color', '#dfe0e6');
        }

        });
    });
</script>
<script src="~/Content/AdminLTE/bower_components/ckeditor/ckeditor.js"></script>
<script src="~/Content/AdminLTE/bower_components/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: 'textarea#mytextarea',
        plugins: 'advlist autolink link lists preview table code pagebreak',
        menubar: false,
        language: 'fa',
        height: 300,
        relative_urls: false,
        toolbar: 'undo redo | removeformat preview code | fontsizeselect bullist numlist | alignleft aligncenter alignright alignjustify | bold italic | pagebreak table link',
    });
    $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1')
        //bootstrap WYSIHTML5 - text editor
        $('.textarea').wysihtml5()
    })
</script>
